.alumni-grid {
    display: grid;
    grid-template-areas: "a";
    justify-items: center;
    background: whitesmoke;
}

.alumni-title {
    font-family: 'Playfair Display','Times New Roman', Times, serif;
    font-size: 3rem;
    color: #1a365d;
    text-align: center;
    text-decoration: underline;

}
.alumni-content {
    width: 90vw;
    background: aliceblue;
    border-radius: 8px;
    padding: 3rem;
    margin-bottom: 3rem;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 400;
}

.members {
    text-align: left;

}