:root {
    background: url('/media/spacepattern.avif');
}

.main-content {
    backdrop-filter: blur(2px) brightness(77%);
}

.didc-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.heading {
    text-align: center;
    color: #eff2f7;
    text-decoration: underline;
    margin: 3rem;
}

.subheading {
    text-align: center;
    color: #fff;
    text-decoration: underline;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background: #1d3640;
    font-size: 2.3rem;
}   

.desc {
    font-family: "Lexend";
    font-size: 1.3rem;
    align-self: center;
    position: relative;
    padding: 1.5rem;
    width: 70vw;
    background-color: aliceblue;
    text-align: center;
    border-radius: 18px;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 1rem;
}

.card {
    width: min-content;
}
.card-image {
    width: auto;
}

.card-content {
    padding: 0.5rem;
    text-align: center;
}
.card img {
    height: 25vh;
}

.members .cards-grid {
    width: 90vw;
}

.members {
    margin-bottom: 3rem;
}

.members2 .cards-grid {
    grid-template-areas: 'a a a a a';
    justify-items: center;
    align-items: center;
    left: -6.5%;
}

.cards-grid {
    max-width: unset;
}

@media (max-width: 768px) {
    .members .cards-grid {
        grid-template-areas: "a a" !important;
        left: -0.5rem ipo !important;
    }
}