.cards-grid {
    justify-items: center;
    grid-template-areas: "a a a a";
}

.card {
    width: 18rem;
}

h2 {
    font-family: 'Playfair Display';
    text-align: center;
    color: #1a365d;
    text-decoration: underline;
    font-size: 2.5rem;
    margin: 3rem;
}

table {
    border: 1px solid #333;

}

td, th {
    padding: 1rem;
    border: 1px solid;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.3rem;
    } 

    .cards-grid {
        grid-template-areas: "a" !important;
        width: auto;
    }
}