.main-content {
    background: linear-gradient(#1a365d 1% 0%, #fff);
}

.principal-grid {
    display: grid;
    justify-items: center;
}

.princi-head {
    font-family: 'Playfair Display','Times New Roman', Times, serif;
    font-size: 3rem;
    text-decoration: underline;
    color: #fff;
    text-align: center;
}

.princi-box {
    height: fit-content;
    width:90vw;
    background-color: antiquewhite;
    border-radius: 2rem;
    margin: 3rem;
}

.princi-image-box {
    position: relative;
    top: -0.9rem;
    padding: 1rem; 
    float: right;   
    text-align: center;
}
.princi-img {
    height: 20vh;
}

.princi-text {
    word-wrap: break-word;
    padding: 2rem;
    font-size: 1.3rem;
}

