.card {
    height: fit-content;
    width: 20vw;
}

.heading {
    font-family: 'Playfair Display','Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    color: #1a365d;
    margin: 2rem;
    text-decoration: underline;
}

/* .card img {
    width: 20vw;
    height: 20vh;
} */

.cards-grid {
    gap: 6rem;
    width: 83vw;
    justify-items: center;
}

a {
    text-decoration: none;
    padding: 1rem;
}

@media (max-width: 908px) {
    .card {
        width: auto;
    }

    .cards-grid {
        grid-template-areas: "a";
    }
}