.box {
    width: 98vw;
    border-radius: 28px;
    background: aliceblue;
    padding: 3rem;
    margin: 1rem;
    margin-bottom: 3rem;
}

h1 {
    text-align: center;
    font-family: 'Playfair Display','Times New Roman', Times, serif;
    font-size: 3rem;
    padding: 1rem;
}

.card {
    width: 15vw;
}

.cards-grid {
    justify-items: center;
    grid-template-columns: auto;
    width: auto;
    grid-template-areas: "a a a";
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
}

hr {
    border-radius: 3rem;
    color: #1a365d;
}

table {
    position: relative;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    margin-bottom: 6rem;
}

td,th {
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 3px;
    border: 1px solid #333333af;
    padding: 8px;
    text-align: center;
}

@media (max-width: 768px) {

    .cards-grid {
        grid-template-areas: "a";
    }

    .card {
        width: 60vw;
    }
    h1 {
        font-size: 1.5rem;
        text-decoration: underline;
    }

    h2 {
        font-size: 1.3rem;
    }
}