body {
    background-color: whitesmoke;
    overflow-x: hidden;
}

.faculty {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hod-grid {
    padding: 8rem;
    display: flex;
    align-self: center;
}

.tr-grid {
    display: grid;
    grid-template-areas: "a a a a";
    gap: 1rem;
    justify-items: center;
}

.staff-card {
    background-color: white;
    transition: transform 0.3s ease;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px; /* Space for revealed content */
}

.staff-info {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    position: relative;
    padding-bottom: 3rem; /* Reserve space for staff-extra */
    transition: transform 0.3s ease;
    line-height: 1.2;
}

.staff-extra {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.3s ease;
    background: white;
    padding: 1rem;
    text-align: center;
}

.staff-card:hover {
    transform: translateY(-20px); /* Lift the card */
}

.staff-card:hover .staff-extra {
    transform: translateY(0); /* Reveal hidden section */
    opacity: 1;
}

.staff-card:hover .staff-info {
    transform: translateY(-100px);
}
.staff-name {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}





.staff-phone {
    font-size: 0.8rem;
    opacity: 0.6;
}

.staff-mail {
    font-size: 0.6rem;
    font-family: monospace;
}

.hod-pic {
    height: 30vh;
    border-radius: 8px;
}

.staff-pic {
    height: 30vh;
    width: fit-content;
    border-radius: 8px;
}

/* ----- FACULTY CARD PAGE --------- */

.fac-head {
    text-align: center;
    padding: 1rem;
    font-family: 'Playfair Display','Times New Roman', Times, serif;
    font-size: 3rem;
    text-decoration: underline;
    color: #1a365d;
}

.card-grid {
    display: grid;
    gap: 1rem;
    grid-template-areas: "a a a a";
}

.card-grid .card {
    margin: 3rem;
    width: 320px;
    text-decoration: none;
    color: #1a365d;
}

.card-subtitle {
    font-family: 'Playfair Display','Times New Roman', Times, serif;
    font-weight: 400;
}
@media (max-width: 768px) {
    .card-grid {
        grid-template-areas: "a";
        justify-items: center;
    }
}
/* --------------------------------- */

@media (max-width: 768px) {

    .tr-grid {
        display: grid;
        grid-template-areas: "a";
        gap: 1rem;
        justify-items: center;
    }
}