.main-content {
    background: linear-gradient(#1a365d 1% 0%, #fff);
}

.nss-grid {
    display: grid;
    justify-items: center;
}

.nss-head {
    text-align: center;
    font-family: 'Playfair Display','Times New Roman', Times, serif;
    font-size: 3rem;
    padding: 3rem;
    color: #fff;
    text-decoration: underline;
    border-radius: 28px;
}

.nss-overview {
    padding: 3rem;
    background-color: aliceblue;
    border-radius: 24px;
    width: 95vw;
    margin-bottom: 3rem;
    font-family: 'Lexend Deca';
    font-size: 1.3rem;
}

.nss-pic {
    display: flex;
    flex-direction: row;
}

.nss-img {
    width: 320px;
    height: fit-content;
}

.card {
    width: 360px;
    margin: 1rem;
}